body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
  }
  
  #sobre img {
    border: 4px solid #007bff;
  }
  
  .card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }
  